@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: red;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

header > a, header > div {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover, header > div:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

footer {
    background-color: green;
    padding: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}